---
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 90
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 0
IndentWidth: 2
AccessModifierOffset: -2
IndentWrappedFunctionNames: true
Language: Cpp
PointerAlignment: Left
SpacesInParentheses: false
Standard: Auto
TabWidth: 2
UseTab: Never

...
